---
import TimelinePin from './TimelinePin.astro';

interface Props {
	x: string;
    y: string;
    id: number;
    href: string;
}

const { x, y, id, href } = Astro.props;
---




<a style={{left: `${x}`, bottom: `${y}`}} 
    class={`z-20 group absolute bottom-[${y}] -translate-x-[50%] translate-y-[50%] bg-red-200 rounded-full border-[1vw] border-red-700 aspect-square size-[7vw] transition-all duration-500 ease-in-out hover:border-4 hover:shadow-2xl`}
    href={href}>
    <div class="bottom-1/2 left-1/2 -translate-x-1/2 translate-y-[40%] group-hover:opacity-100 opacity-0 font-extrabold size-fit transition-all duration-1000 text-center absolute group-hover:scale-[200%]">
        #{id}
    </div>
</a>