---

const { common = "transition-all duration-500 ease-in-out h-[40vh] max-h-[200px] skew-x-6 shadow-xl -ml-[80px] hover:mr-[100px]" } = Astro.props;

---



<div class="flex w-full justify-center border-white border-b z-40 overflow-hidden">
    <div class="h-[50vh] max-h-[750px] w-full bg-gradient-to-b from-easyblue to-cyan-950 flex flex-col justify-center items-center">
        <div class="flex flex-row animate-gapGrow items-center translate-x-[40px]">
            <img src="/Human-Computer-Interaction/app/frame1.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame2.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame2.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame2.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame2.png" class=`${common}`>
        </div>
    </div>
</div>