---

const { common = "transition-all duration-500 ease-in-out -skew-x-6 shadow-xl h-[200px] -ml-[80px] hover:ml-[100px] hover:scale-125 lg:h-[40vh] hover:skew-x-0" } = Astro.props;

---



<div class="flex w-full justify-center z-40 overflow-hidden">
    <div class="h-[50vh] max-h-[750px] w-full bg-gradient-to-b from-easyblue to-cyan-950 flex flex-col justify-center items-center">
        <div class="flex flex-row-reverse animate-gapGrow items-center translate-x-[40px] ">
            <img src="/Human-Computer-Interaction/app/frame1.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame3.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame4.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame5.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame6.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame7.png" class=`${common}`>
            <img src="/Human-Computer-Interaction/app/frame2.png" class=`${common}`>
        </div>
    </div>
</div>